* { box-sizing: border-box };

html,
body,
#root {
  height: 100%;
  font-family: 'Roboto';
  font-size: $font-size;
}

table, tr, td, thead  {
  font-size: $font-size !important;
}

section {
  padding: 50px;
  text-align: center;
};
