* { box-sizing: border-box };

html,
body,
#root {
  height: 100%;
  font-family: 'Roboto';
  font-size: $font-size;
  background-image: url(https://images6.alphacoders.com/436/436376.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

table, tr, td, thead  {
  font-size: $font-size !important;
}

section {
  padding: 50px;
  text-align: center;
};
