.card-col {
  display: inline-block;
  font-size: 12px;
}

.card-col-1 {
  width: 34%;
}

.card-col-2 {
  font-size: 14px;
  width: 43%;
}

.card-col-3 {
  width: 15%;
}

.card-col-4 {
  width: 5%;

  text-align: right;
  opacity: 0.3;
  font-size: 12px;
  cursor: pointer;
  transition: all .3s linear;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
