.card-col {
  display: inline-block;
}

.card-col-1 {
  width: 70%;
}

.card-col-2 {
  width: 15%;
}

.card-col-3 {
  width: 15%;
  text-align: right;
  opacity: 0.3;
  font-size: 13px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
