.edit-inline {
  cursor: pointer;
}

.editing {
  border: 0;
  font-family: 'Roboto';
  font-weight: normal;
  outline: 0;
  width: 100px;
}


.card-col-duration {
  .editing {
    width: 40px;
  }
}
